*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dddddd;
    font-family: 'Arima', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Open Sans', sans-serif;
}
main{
    background-color:  #E5E5E5;
    width: 1150px;
    max-width: 90%;
  margin: auto;
}
h1{
    font-size: 50px;
}
span{
    padding-left:10px ;
    }
/* top-banner */
.top-banner{
    background-color: #0f0f0f;
    color: #e6e6e6;
    display: grid;
    grid-template-columns: repeat(2,55% 45%);
    border-radius: 15px;
    margin-top: 50px;
}


.top-title{
 width: 375px;
 display: flex;
 flex-direction: column;
justify-content: center;
 padding:50px 80px ;
}

.button-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    }
.button-bar ul li:last-child a{
    background-color: #e92121;
}

.top-title a{
 text-decoration: none;
 color:#e6e6e6 ;
 font-size: 25px;
 background-color: #bb1515;
 height: 50px;
 width: 170px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-radius:5px;
margin-top: 30px;
}

.top-image img{
height: 100%;
width: 90%;
}
/* blog items */


.blogs{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,25% 75%);
    grid-column-gap: 2.5%;
}
/*  side buttons bar */
.button-bar{
    padding: 10px;
    background-color: #302d2d;
    border-radius: 15px;
    max-width: 100%;
     height: 284px; 
}
.button-bar ul{
    margin-top: 30px;
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.button-bar a{
text-decoration: none;
color:#030303;
font-size: 23px;
background-color: aliceblue;
height: 60px;
width: 12rem;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
margin: 10px auto;
}
/* blogs of match */
.matchs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
grid-row-gap: 3%;
}

.top-image-blog{
    width: 260px;
    height: 175px;
    max-width: 90%;
}
.match-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}
.match-chats{
    display: flex
}
