*{
    margin: 0 0;
    padding: 0;
}
body{
    background-color:#FFFFFF;
    font-family: 'Arima', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Open Sans', sans-serif;
}
main{
    background-color: #FFFFFF;
    width: 1150px;
    max-width: 90%;
  margin: auto;
  margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
h3{
    border-radius: 5px;
    margin-left:10px;
    padding: 5px 15px;
    border: 1px solid gray;
    display: inline-block;
    height: 25px;
    width: 90px;
}
span{
    padding-left:10px ;
    }
    hr{
        width: 100%;
        border: 2px solid rgb(49, 49, 49);

    }
/* top-banner */
.top-banner{
    background-color: #0f0f0f;
    color: #e6e6e6;
    display: grid;
    grid-template-columns: repeat(2,55% 45%);
    border-radius: 15px;
    margin-top: 50px;
}


.top-title{
 width: 375px;
 display: flex;
 flex-direction: column;
justify-content: center;
 padding:50px 80px ;
}




.top-title a{
 text-decoration: none;
 color:#e6e6e6 ;
 font-size: 25px;
 background-color: #bb1515;
 height: 50px;
 width: 170px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-radius:5px;
margin-top: 30px;
}

.top-image img{
height: 100%;
width: 90%;
}
/* blog items */


.blogs{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,25% 75%);
    grid-column-gap: 1.8%;
    
}
/*  side buttons bar */
.button-bar{
    margin-top: 25px;
    padding: 10px;
    background-color: #302d2d;
    border-radius: 15px;
    max-width: 100%;
     height: 284px; 
}
.button-bar ul{
    margin-top: 30px;
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.button-bar ul :first-child a{
    background-color: #e92121;
}


.button-bar a{
text-decoration: none;
color:#030303;
font-size: 23px;
background-color: aliceblue;
height: 60px;
width: 12rem;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
margin: 10px auto;
}
/* blogs of match */
.matchs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
grid-column-gap: 4%;
}
.match{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 12px 1px #afafaf;
    max-width: 93%;
    border: 1px solid #cac8c8;
    border-radius: 15px;
    margin-top: 25px;
    padding-bottom: 30PX;
}

.image-section{
    align-items: center;
   justify-content: space-around;
    display: flex;
    margin-top: 20PX;

  
}
.top-image-blog{
    height: 3rem;
    max-width: 70%;
}
.match-detail{
    box-sizing: border-box;
    padding: 0px 5px;
    margin-top:30px;
}

.match-detail p{
    margin-top: 10px;
}
.match-info{
    margin-bottom: 15px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}
.match-chats{
    display: flex
}

/* view all button */
.view-button{
    height: 100px;
    width: 50px;
    margin: 50px auto;
}
.view-button button{
    height: 50px;
    width: 130px;
    background-color: #e92121;
    color: #E5E5E5;
    border-radius: 10px;
    
}
.view-button button i{
    margin-left: 10px;
}
/* stye fo footer */
.footer{
    background-color: #030303;
    color: #e6e6e6;
    margin-bottom: 0px;
}
.footer-items{
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-items-lists{
 width: 100%;
 margin-top:60px;

}
.footer-items-list ul{
width: 100%;
display: grid;
grid-template-columns: repeat(6,1fr);
  
     list-style: none;
}
.footer-items-list ul li a{
   
text-decoration: none;
color: #e6e6e6;
}
.footer-item-icon{
    width: 100%;
    margin-top:80px;
}
.footer-item-icon ul{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-item-icon ul li a{
    margin-left: 15px;
    text-decoration: none;
    color: #e6e6e6;
}

@media only screen and (min-width:993px) {
    .view-button{
     display: none; 

    }
}
@media only screen and (min-width:577px) and (max-width:992px) {
    .top-banner {
        grid-template-columns: repeat(2,30% 70%);
    }
    .top-title {
        width: 220px;
        padding: 20px 20px;
    }
    .top-title a{
        width: 120px;
        font-size: 16px;
    }
    h1{
        font-size: 25px;
    }
    
.top-image img {
    padding-left: 77px;
    width: 77%;
}
.blogs{
    margin-top: 40px;
    grid-template-columns: repeat(1,1fr);
}
.button-bar{
    height: 8rem;
    background-color: #FFFFFF;
    margin-top: 0;
    padding-bottom: 0;
   
}
.button-bar ul{
    flex-direction: row;
}
.button-bar a {
    color: #030303;
    font-size: 14px;
    height: 45px;
    width: 10rem;
    max-width: 80%;
    border-radius: 10px;
    margin: 0px auto;
    border: 1px solid  #e6e6e6;

}
.matchs{
    grid-template-columns: repeat(2,1fr);

}
.match{
    max-width: 100%;
    margin-top: 20px;
}
.top-image-blog{
  

    max-width: 70%;
}
.footer-items-list ul{

    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    text-align: end;
}
    
.footer-items-list ul li{
    margin-top:30px;
}

#hidden{
    display: none;
}

}

@media only screen and (max-width:576px){

    .top-banner {
        grid-template-columns: repeat(1,1fr);
    }
    .top-title {
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 15px;
       
    }
  
    .top-title a{
        margin:20px auto;
        width: 120px;
        font-size: 16px;
    }
    h1{
        font-size: 25px;
    }
    
.top-image img {
    padding-left: 77px;
    width: 77%;
}
.blogs{
    margin-top: 40px;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 3%;
}
.button-bar{
    background-color: #FFFFFF;
    margin-top: 0;
    padding: 0;
    height: 225px;
}
.button-bar ul{
   
    flex-direction: column;
    margin-top: 0;
   
    
}
.button-bar ul li{
margin-top: 20px;
}
.button-bar a {
    color: #030303;
    font-size: 14px;
    height: 45px;
    width: 10rem;
    max-width: 80%;
    border-radius: 10px;
    margin: 0px auto;
    border: 1px solid  #e6e6e6;

}
.matchs{
    grid-template-columns: repeat(1,1fr);

}
.match{
    max-width: 70%;
   margin: 15px auto;
}
.mage-blog{
    height: 70%;

    max-width: 100%;
}
.view-button{
    display: none; 

   }
 
.footer-items-list ul{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
   
}
    
.footer-items-list ul li{
    margin: 10px auto;
}
.footer-item-icon{
    margin-top:30px ;
}
#hidden{
    display: none;
}

}

